{% comment %} {%load static%}
<footer>
    <div class="footerCol">
        <div class="container">
            <ul class="socialCol">
                <li><a href="{{socialmedialinks.url}}"><img src="{% static 'images/fb.svg' %}"alt='images'></a></li>
                <li><a href="{{SocialMediaLink.url }}"><img src="{% static 'images/insta.svg' %}" alt='images'></a></li>
                <li><a href="{{SocialMediaLink.url }}"><img src="{% static 'images/twitter.svg'%}" alt='images'></a></li>
                <li><a href="{{SocialMediaLink.url }}"><img src="{% static 'images/linkedin.svg' %}" alt='images'></a></li>
                </ul>
                      
            </div>
    </div>
    </footer> {% endcomment %}
    {% load static%}
    <footer>
        <ul class="social-links">
            <li>
                {% if social_media.fb %}
                    <a href="{{ social_media.fb|default:'#' }}" target="_blank" rel="noopener noreferrer">
                        <img src="{% static 'images/fb.svg' %}" alt="Facebook">
                    </a>
                    <p>{{ social_media.fb }}</p> 
                {% else %}
                    <p>No Facebook link available</p>
                {% endif %}
            </li>
            <li>
                <a href="{{ social_media.ig|default:'#' }}" target="_blank" rel="noopener noreferrer">
                    <img src="{% static 'images/insta.svg' %}" alt="Instagram">
                </a>
            </li>
            <li>
                <a href="{{ social_media.tw|default:'#' }}" target="_blank" rel="noopener noreferrer">
                    <img src="{% static 'images/twitter.svg' %}" alt="Twitter">
                </a>
            </li>
            <li>
                <a href="{{ social_media.li|default:'#' }}" target="_blank" rel="noopener noreferrer">
                    <img src="{% static 'images/linkedin.svg' %}" alt="LinkedIn">
                </a>
            </li>
        </ul>
    </footer>
    

      
{% comment %} <footer>
    <ul class="social-links">
        {% if social_media %}
            {% if social_media.fb %}
                <li><a href="{{ social_media.fb }}" target="_blank"><img src="/static/images/fb.svg" alt="Facebook"></a></li>
            {% endif %}
            {% if social_media.ig %}
                <li><a href="{{ social_media.ig }}" target="_blank"><img src="/static/images/insta.svg" alt="Instagram"></a></li>
            {% endif %}
            {% if social_media.tw %}
                <li><a href="{{ social_media.tw }}" target="_blank"><img src="/static/images/twitter.svg" alt="Twitter"></a></li>
            {% endif %}
            {% if social_media.li %}
                <li><a href="{{ social_media.li }}" target="_blank"><img src="/static/images/linkedin.svg" alt="LinkedIn"></a></li>
            {% endif %}
        {% else %}
            <p>No social media links available</p>
        {% endif %}
    </ul>
    <p></p>
</footer> {% endcomment %}

<script>
    console.log("Facebook URL:", "{{ social_media.fb }}");
    console.log("Instagram URL:", "{{ social_media.ig }}");
    console.log("Twitter URL:", "{{ social_media.tw }}");
    console.log("LinkedIn URL:", "{{ social_media.li }}");
</script>
<script>
    document.querySelectorAll('.social-links a').forEach(link => {
        link.addEventListener('click', (e) => {
            console.log('Clicked:', link.href);
        });
    });
</script>